{% extends "educ/base.html" %}
{% block title %}Educ - Paphra{% endblock %}
{% block page_title %}Paphra Educ{% endblock page_title %}

{% block educ_content %}
<section>
    <!-- Content
	================================================== -->
    <div class="content-outer">
        <div id="page-content">
            <div class="row add-bottom">
                <div class="twelve columns" style="padding-top: 24px;">

                    <h2 class="title-heading">Education is the Key.</h2>
                    <p class="lead add-bottom w3-large">
                        Always Consider education as the key to the success
                        of a human being. Knowledge is the center of everything that
                        a human being requires to live.
                        Without knowledge, then an individual's survival is so heard.
                        Everything that a person knows, in most cases comes through
                        learning and without learning, hich is process of accumulation
                        of knowledge, an individual can not live.
                    </p>
                    <hr>
                </div>
            </div> <!-- Row End-->

            <div class="row add-bottom">

                <div class="six columns add-bottom">

                    <h3>Philosophy</h3>

                    <aside class="pull-quote">
                        <blockquote>
                            <p>
                                The best way for people to live is to focus on the persuit of
                                virtue rather than the persuit, for instance, of material wealth.
                                Virtue - all virtue is Knowledge.
                                Virtue is suffiecient for happiness.
                            </p>
                            <cite>
                                Socrates
                            </cite>
                        </blockquote>
                    </aside>

                </div>

                <div class="six columns add-bottom">

                    <h3>Others</h3>

                    <blockquote cite="http://where-i-got-my-info-from.com">
                        <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied
                            is to do what you believe is great work. And the only way to do great work is to love what
                            you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the
                            heart, you'll know when you find it.
                        </p>
                        <cite>
                            <a>Steve Jobs</a>
                        </cite>
                    </blockquote>

                    <blockquote>
                        <p>Good design is as little design as possible.</p>
                        <cite>Dieter Rams</cite>
                    </blockquote>

                </div>

                <hr />

            </div> <!-- Row End-->


        </div>
    </div>
</section>
{% endblock educ_content %}