<section id="one">
	<div class='content page'>
		<div class="w3-white w3-padding">
			{% if request.args.st == 'int' or not request.args.st %}
			{% include 'educ/phy/o/topics/mec/int.html' %}
			{% elif request.args.st == 'lav' %}
			{% include 'educ/phy/o/topics/mec/lav.html' %}
			{% elif request.args.st == 'wpe' %}
			{% include 'educ/phy/o/topics/mec/wpe.html' %}
			{% elif request.args.st == 'faw' %}
			{% include 'educ/phy/o/topics/mec/faw.html' %}
			{% elif request.args.st == 'mad' %}
			{% include 'educ/phy/o/topics/mec/mad.html' %}
			{% elif request.args.st == 'pre' %}
			{% include 'educ/phy/o/topics/mec/pre.html' %}
			{% endif %}
		</div>
	</div>
</section>