<li>
	<a href="?tp=mec#int" {% if request.args.tp=='mec' or not request.args.tp %} class='w3-bottombar current'
	 {% endif %}>Mechanics</a>
	<ul class="disc">
		{% if request.args.tp == 'mec' or not request.args.tp %}
		{% include 'educ/phy/o/topics/mec/sbtps.html' %}
		{% endif %}
	</ul>
</li>
<li>
	<a href="?tp=lig#int" {% if request.args.tp=='lig' %} class='w3-bottombar current' {% endif %}>Light</a>
	<ul class="disc">
		{% if request.args.tp == 'lig' %}
		{% include 'educ/phy/o/topics/lig/sbtps.html' %}
		{% endif %}
	</ul>
</li>
<li>
	<a href="/educ/phy/practical">Practical</a>
</li>