
<li {% if request.args.st == 'int' or not request.args.st %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=int#int">Introduction</a></li>
<li {% if request.args.st == 'lav' %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=lav#lav">Length, Area and Volume</a></li>
<li {% if request.args.st == 'mad' %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=mad#mad">Mass and Density</a></li>
<li {% if request.args.st == 'faw' %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=faw#mad">Force and Weight</a></li>
<li {% if request.args.st == 'wpe' %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=wpe#wpe">Work, Power and Energy</a></li>
<li {% if request.args.st == 'pre' %} class='w3-bottombar current' {% endif %}>
	<a href="?tp=mec&st=pre#pre">Pressure</a></li>

