{% extends 'base.html' %}
{% block title %}Home - Paphra{% endblock title %}
{% block c_home %}class="current w3-bottombar"{% endblock c_home %}
{% block page_title %}Paphra{% endblock page_title%}

{% block body %}

<section id="works">
	<div class="row">
		<div id="portfolio-wrapper">
			<div class="six columns portfolio-item">
				<div class="item-wrap">
					<a href="/web">
						<img alt="" src="{{ url_for('static', filename='images/web/web.jpg') }}">
						<div class="overlay"></div>
						<div class="link-icon"><i class="fa fa-link"></i></div>
					</a>
					<div class="portfolio-item-meta">
						<h5><a href="/web">Web Development</a></h5>
						<p class="">
							At Paphra, we do web designing and development, plus publishing, maintenance, online database
							management and structuring. Budgeting for all the expenses is done for any given type of
							web-site to be created.
							We do domain searches, domain registration, and we seek out the most affordable hosting services
							that will blow you away. Just get in touch with us for all your web solutions.
						</p>
					</div>
				</div>
			</div>

			<div class="six columns portfolio-item">
				<div class="item-wrap">
					<a href="/elec">
						<img alt="" src="{{ url_for('static', filename='images/elec/elecw007.jpg') }}">
						<div class="overlay"></div>
						<div class="link-icon"><i class="fa fa-link"></i></div>
					</a>
					<div class="portfolio-item-meta">
						<h5><a href="/elec">Electronics and Home appliances</a></h5>
						<p class="">
							Paphr Enterprises offers the best of the best in Electronics and home electrical
							appliances of all types. The Electronics offered are of high quality and last forever in
							all conditions. Products ranging from HQ bulbs, to HQ electrical cables and other
							appliances like extensions.
						</p>
					</div>
				</div>
			</div>

			<div class="six columns portfolio-item">
				<div class="item-wrap">
					<a href="/educ">
						<img alt="" src="{{ url_for('static', filename='images/educ/phy002 emc.jpg') }}">
						<div class="overlay"></div>
						<div class="link-icon"><i class="fa fa-link"></i></div>
					</a>
					<div class="portfolio-item-meta">
						<h5><a href="/educ">Educ</a></h5>
						<p>
							Under Educ, Paphra offers all sorts of education and revision options in the
							field of education. Past papers, notes for different subjects. SUbjects such as
							Physics, Mathematics, Biology and other science subjects are offered in
							great detail at Paphra.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="works">
	<div class="w3-white" id="section-inner-wrapper">
		<div class="row">
			<div class="twelve columns align-center">
				<h1>Why us ... </h1>
			</div>
		</div>

		<div class="row">
			<div id="portfolio-wrapper">
				<div class="six columns portfolio-item">
					<div class="item-wrap">
						<br />
						<div class="portfolio-item-meta">
							<h5><a>Quality Web design and Development</a></h5>
							<p class="w3-medium">The highest quality in the Market. Responsive to all the devices and highly customizable.
								Nice looking and well shaped for you and your customers. Come, lets usher you in the new
								online looks, and take your business to the next level.
							</p>
							<br />
						</div>
					</div>
				</div>
				<div class="six columns align-center">
					<img alt="" src="{{ url_for('static', filename='images/web/webw003.jpg') }}">
				</div>
			</div>
		</div>

		<div class="row">
			<div id="portfolio-wrapper">
				<div class="six columns align-center">
					<img alt="" src="{{ url_for('static', filename='images/educ/online.jpg') }}">
				</div>
				<div class="six columns portfolio-item">
					<div class="item-wrap">
						<br />
						<div class="portfolio-item-meta">
							<h5><a>Perfect Education Resources</a></h5>
							<p class="w3-medium">Education options that change grades for all the students at
								both levels (O and A). Theoretical and Practical Subjects. Providing the perfect
								way to study ahead and get a second online class for all the students from all
								walks of life.
							</p>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body %}